<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

    <!-- 配置Shiro -->
    <!--1 声明凭证（密码）配置器-->
    <bean class="org.apache.shiro.authc.credential.HashedCredentialsMatcher" id="hashedCredentialsMatcher">
        <property name="hashAlgorithmName" value="md5"/><!--md5的方式进行加密-->
        <property name="hashIterations" value="2"/> <!--散列次数为2次-->
    </bean>
    <!--2  配置自定义的Realm-->
    <bean class="cn.yhs.learn.shiro.MyRealm" id="myRealm">
        <property name="credentialsMatcher" ref="hashedCredentialsMatcher"/>
    </bean>
    <!--3 配置WebSecurityManager-->
    <bean class="org.apache.shiro.web.mgt.DefaultWebSecurityManager" id="securityManager">
        <property name="realm" ref="myRealm"/>
    </bean>

    <!--4. 配置shiro的WEB过滤器-->
    <bean class="org.apache.shiro.spring.web.ShiroFilterFactoryBean" id="shiroFilter">
        <!--注入安全管理器-->
        <property name="securityManager" ref="securityManager"/>
        <!--要登录的url-->
        <property name="loginUrl" value="/login.jsp"/>
        <!--配置未授权的url-->
        <property name="unauthorizedUrl" value="/unauthorized.jsp"/>
        <!--配置过滤器链-->
        <property name="filterChainDefinitions">
            <value>
                /index.jsp = anon
                /login.jsp = anon
                <!-- 执行登录请求的操作-->
                /user/login = anon
                <!--用户退出执行的过滤器-->
                /user/logout = logout
                /unauthorized.jsp = anon
                <!--设置其他路劲全部拦截，只有认证通过之后才会资源查看-->
                /** = authc
            </value>
        </property>
    </bean>

</beans>